#project.content.active{
    display: block;
    padding: 0.7rem;
}

.projects{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 1rem;
    
}

.project-info h3{
    font-size: 5rem;
    -webkit-text-stroke: 1px var(--white);
    color: transparent;
}

.project-info h4{
    font-size: 3rem;
}

.project-info p{
    font-size: 1.3rem;
    text-align: justify;
}

.tech-stack{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.7rem;
    color: var(--green);
    font-size: 1.3rem;
    font-weight: 500;
}

.links{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 1rem;
}

.links a,.arrows a{
    text-decoration: none;
    color: var(--green);
    border: 2px solid var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 45px;
    height: 45px;
    transition: all linear 0.3s;
}

.links a:hover, .arrows a:hover {
    background: var(--green);
    color: var(--primary);
    box-shadow: 2px 2px 2px var(--green),
    -2px 2px 2px var(--green),
    2px -2px 2px var(--green),
    -2px -2px 2px var(--green);
    
}

.links a:first-child:hover {
    rotate: 0deg;
}

.links a i, .arrows a  {
    font-size: 1.5rem;;
}

.carousel img {
    width: 100%;
    border-radius:10px;
}

.arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    align-self: center;

}

.disabled-btn {
    color: var(--disabled) !important;
    border-color: var(--disabled) !important;
    pointer-events: none;
    opacity: 0.5;
}

.disabled-btn:hover {
    box-shadow: none;
    background: none;
    cursor: auto;
}

@media screen and (width >= 1024px) {
    .projects {
       flex-direction: row;
       gap: 2rem;
    }

   
    .carousel {
        
        place-items: end;
    }

    .carousel img {
        width: 90%;
    }
}





