#Services.content.active {
    width: 100%;
    margin: 2rem auto;
}

#Services h2 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 2rem;
}

#Services h2 span {
 color: var(--green);
}
.service-list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
    place-items: center;
    padding: 1rem;;
}

.box{
    background: var(--secondary);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    max-width: 450px;
    border: 3px solid transparent;
    transition: all linear 0.3s;
}

.box:hover {
    border-color: var(--green);
    cursor: pointer;
    box-shadow:
        5px 5px 5px var(--green),
       -5px 5px 5px var(--green),
        5px -5px 5px var(--green),
       -5px -5px 5px var(--green);
}

.head-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-icons span{
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    background: var(--white);
    color: var(--primary);
    transition: all linear 0.3s ;
}

.head-icons span:hover{
    transform: rotate(-45deg);
    background: var(--green);
}

.head-icons i {
    font-size: 2rem;
    font-weight: 900;
}

.head-icons span i{
    font-size: 1.66rem;
    font-weight: 900;
}

.box h3{
    font-size: 1.7rem;
    font-weight: 800;
    text-align: center;
    color: var(--green);

}

#spacer{
    flex-grow: 1;
}

.box p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
}





@media screen and (width >= 768px) {
    #Services h2 {
       font-size: 4rem;
   }

   .service-list{
    grid-template-columns: repeat(2,1fr);
   }

   .box h3 {
    text-align: left;
   }
}

@media screen and (width >= 1024px) {
   .service-list{
    grid-template-columns: repeat(3,1fr);
   }
   .box h3{
    font-size: 1.8rem;
   }

   .box p{
    font-size: 1.2rem;
   }
}